     <div class="row">
	<div class="span4">
		<div id="slides">
		  <div class="slides_container"><%= render @slides %></div>	
		</div>
	</div>
	<div class="span4"><%= render "forums/hot_newest_posts" %></div>
	<div class="span4"><%= render "forums/hot_newest_users" %></div>
     </div>


<div class="container">
	<%= render "forums/forum_list" %>
</div>
