

<div class="row">
<div id="slides" class="offset1 span4">
		<div class="slides_container">
			<% @slides.each do |slide| %>
				<div class="slide">
    				<%= link_to image_tag(slide.image), slide.link %>
    				<%= link_to 'Show', slide %>
    				<%= link_to 'Edit', edit_slide_path(slide) %>
    				<%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' } %>
 				</div>
			<% end %>
		</div>
</div>



