

<div class="container">
   <div class="row">	
	<div class="span8 " style="margin-left:0;">
		<p class="alert alert-info"> 最新上传视频</p>
		<div class="newest_videos span8">
			<%= render @uploads %>
		</div>
		<div class="span4" style="margin-left:0;">
		<p class="alert alert-info"> 推荐视频</p>
		<%= render @uploads %>
		</div>

		<%= render 'musics/recomand_music' %>

	
		
	     <div class="span8" style="margin-left:0;">
		<div class="span4" style="margin-left:0;">
		<p class="alert alert-info"> 广场舞团体</p>
		</div>
		<div class="span4">
		<p class="alert alert-info"> 广场舞活动</p>
		</div>
	     </div>
	</div>

	


	<div class="span4">
   		<div class="span4" >
		<p class="alert alert-info"> 广场舞介绍</p>
		</div>
		<div class="span4">
		   　　广场健身舞蹈历史悠久，源远流长。据艺术史学家考证，人类最早产生的艺术是舞蹈，而且中老年广场健身舞又是舞之母。广场健身舞蹈源于社会生活，产生在人民群众之中，群众是广场健身舞的创作者和表演者。在历史的长河中，人民群众不仅创造了广场健身舞蹈，而且发展了中老年广场健身舞，使这一民间艺术之花深深扎根于广大群众的社会生活之中，代代传承，世代相沿，久盛不衰。
　　随着人们主体意识，参与意识的增加和广场文化活动的广泛开展，广场健身舞正越来越受到社会各界的关注和重视。成为城市文化生活中不可或缺的重要形式和内容。与此同时，广场健身舞又以崭新的姿态为21世纪人们的美好生活而发挥着其它艺术形式所无法替代的积极作用。
		</div>


		<div class="span4" >
		<p class="alert alert-info"> 广场舞论坛</p>
		</div>

		<div class="span4">
		</div>
  	</div>

   </div>
</div>






