<%= form_for(@news) do |f| %>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= cktext_area :news, :content, input_html: { ckeditor: { filebrowserImageBrowseUrl: '/ckeditor/pictures', filebrowserImageUploadUrl: '/ckeditor/pictures' } } %>

  </div>
  <div class="actions">
    <%= f.submit "提交", :class=>'btn' %>
  </div>
<% end %>
