<div class="container">
<table class="table table-striped table-bordered">


<% @news.each do |news| %>
  <tr>
    <td><%= link_to news.title,news_path(news) %></td>
    
  </tr>
<% end %>
</table>

</div>
