<div class="span4">
	<p class="alert alert-info">热门广场舞教学视频</p>
	<ul class="nav nav-pills nav-stacked">
	<% @hot_teach_videos.each do |teach_video| %>
		<li>
		<%= link_to teach_video.name, teach_video %> 
		</li>
	<% end %>
	</ul>
</div>
