#signin_menu {
	background-color: #FAFAFA;
	display:none;
	position:absolute;
	text-align:left;
	padding:12px;
	top: 35px; 
	right: 0px; 
	margin-top:5px;
	margin-right: 0px;
	*margin-right: -1px;
	color:#789;
	font-size:11px;
}

